// layout, such as the container and any grid systems.
$lightorange:#FAF8F5;
.horizontal-navbar{
    display:flex;
    flex-direction: row;
    ul{
        list-style-type: none; 
    }
    li {
        float: left;
      }
      
      li a {
        display: block;
        color: black;
        text-align: center;
        padding: 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: #111111;
      }
}
.app-grid{
  padding:2rem 4rem;
  
  &-color{
  background-color:$lightorange;
  }
}
.text-center{
  text-align:center;
}
