// layout, such as the container and any grid systems.

.horizontal-navbar {
  padding: 1rem 10rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  a {
    text-decoration: none;
    color: $boldorange;
    font-weight: bold;
  }
  .right {
    position: absolute;
    right: 0;
    padding: inherit;
    > a {
      padding: 10px;
    }
  }
}
section{
  padding: 5rem 8rem;

}
.section {
  &_textcenter {
    text-align: center;
  }
  &_col3 {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    & > div {
      width: 28%;
      padding:0 1.5rem 1.5rem 1.5rem;
    }
  }
}
.background-color {
  background-color: $lightorange;
}
.image-container-small{
  height: 100%;
    width:30px;
}
.image-container {
  width: 100%;
  height: 50px; 
  &-small{
    height: 20px;
  }
}

.image {
  float: left;
  height: 100%;
  object-fit: contain;
}